
#contentPane{
	margin-right: 0px;
	margin-top: 120px;	
	margin-left: 190px;
	margin-bottom: 30px;

	justify-content: center;
	align-content: center;

	background-color:#454444 ;

	width: 86.45%;
	height: 510px;
}

#contentPane h1{
	margin-top: 100px;
	margin-left: 60px;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: 70px;
	color: tomato;
	text-transform: uppercase;
	text-shadow:  3px 3px 3px black;
	flex-grow: 0;
}

.user_information {
	background: #c8c6c6;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	position: absolute;
	top:50%;
	left:50%;
	width:600px;
	margin-left:-400px;
	height:200px;
	margin-top:-100px;
	padding:5px;

}

.user_information table{
	margin-left: 40px;
}

.user_information table tr td{
	width: 30px;
	line-height: 30px;
}
.user_information table tr td form input{
	height:20px;
	width: 300px; 
	margin-left: 50px;
	border: 1px solid black;
}

.user_information table tr td p{
	width: 90px;
	font-size: 16px;
}

.buttonsPane{
	margin-top: 250px;
	margin-left: 72px;
}

.cancelButton{
	height: 30px;
	width: 100px;
	font-size: 16px;
	border: 1px solid black;
}

.acceptButton{
	height: 30px;
	width: 100px;
	font-size: 16px;
	border: 1px solid black;
}





