
#contentPane{
	margin-right: 0px;
	margin-top: 120px;	
	margin-left: 200px;
	margin-bottom: 40px;

	padding-right: 10px; 
	padding-left: 10px;
	padding-top: 10px ;
	padding-bottom: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	overflow-y: auto;
}

#filmPane{
	position: relative;

	margin-top: 5%;
	margin-bottom: 20px;

	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
	padding-top: 5%;

	background: #c8c6c6;


	border-style: solid;
	border-color: black;
	border-width: 2px;
	
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-content: center;
	align-items: center;
	
}	

#left{
	display: block;
	align-content: center;
	text-align: center;

	padding-right: 100px; 


}

#left h1{
	font-size: 40px;
	color: tomato;
	text-shadow:  3px 3px 3px black;
}


#left table tr td p{
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

#left button{
	
	height: 40px;
	border: 1px solid black;
	border-radius: 8px 8px 8px 8px;
	background: #46c3bd;
	text-align: left;
	font-size: 16px;
	cursor: pointer;
}	

#right{
	margin-top: 40px;
	background: #c8c6c6;
	border: 2px solid black;
	width: 600px;

}

#right h1{
	margin-left: 5px;
	text-align: left;
	font-size: 30px;
}

#right p{
	margin-left: 5px;
	text-align:left;
	font-size: 18px;
}

