@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}


body{
	background: #000000;
	font-family: "Arial Black", Gadget, sans-serif;
	overflow-x: auto;
	margin:auto;
}

#header{
	width: 100%;
	position: fixed;
	height: 120px;
	background: #F8DD74;
	/*background: #F8DD74;*/
	top: 0;
	left: 0;
	border-style: solid;
	border-color:  #000000;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	z-index: 1000;

}

#header #logo{
	width: 140px;
	height: 120px;
	border: #000000;
	margin-left: 30px;
	float: left;
	flex-grow: 0;
}



#header h1{
	margin-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: 50px;
	color: #46c3bd;
	text-transform: uppercase;
	text-shadow:  3px 3px 3px tomato;
	flex-grow: 0;
	flex-shrink: 1;
}

#header .searchBox{
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex-grow: 0;


	position:relative;
	margin-left: 20px;
	margin-right: 20px;

	border-radius: 20px 20px 20px 20px;
	font-size: 0;
}


.searchGap{
	position:relative;

	left: 0;
	width: 50%;
	height: 40px;
	box-sizing: border-box;
	border-radius: 20px 0 0 20px;
	border: 2px solid black;
}

.categoryBox{
	position:relative;

	width: 30%;
	height: 40px;
	box-sizing: border-box;
	border-radius: 0 0 0 0;
	border: 2px solid black;
}

.searchButton{

	border: 2px solid black;
	cursor: pointer;
	width: 100%;
	height: 40px;
	background-color: tomato;
	border-radius: 0 20px 20px 0
}


#header table{
	border-spacing: 8px 2px;
	float: right;
	clear: right;
	margin-right: 10px;
	margin-top: 10px;
}


#header table #buttonRow{
	display: flex;
	flex-direction: row;
}


.headerTextBox{
	width: 150px
}

.headerButton{
	width: 80px
}

#menuPane{
	width: 200px;
	height: 100%;
	float: left;
	left: 0;
	position: fixed;
	background: #F8DD74;
	border-style: solid;
	border-color:  #000000;
	font-size: 0;

	z-index: 800;
}

.menu{
	left: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	text-align: center;
	font-size: 0;
	line-height: 2;
}

.menu li{
	vertical-align: center;
	margin-top: 0;
	width: 200px;
	height: 30px;
	text-transform: uppercase;
	font-weight: 800;
	cursor: pointer;
	text-decoration: none;
    border-bottom: 0.5px solid black;
}

ul li span{
	vertical-align: center;
}

ul li.clasifier{
	font-size: 18px;
	background-color: #46c3bd;
	border-top: 0.2px solid black;
	border-bottom: 0.2px solid black;
	vertical-align: center;
}

ul li span p{
	text-decoration: none;
	color: black;
	margin-top: 0;
}

ul li span a{
	font-size: 14px;
	text-decoration: none;
	color: black;
}

ul li.profile:hover{
	background: tomato;
}

.genre{
	padding: 0px;
}

ul li.genre:hover{
	background: tomato;
}

#footer{
	width: 100%;
	height: 40px;
	position: fixed;
	background: #F8DD74;
	bottom: 0;
	left: 0;
	border-style: solid;
	border-color:  #000000;
	vertical-align: middle;
	text-align: center;
	clear:both;
	z-index: 900;
}
